<?php

return [
    'db_host'         => "localhost",
    'db_user'         => "logview", // Limit this user in MySQL to SELECT statements.
    'db_pass'         => "MySecretMySQLPassword",
    'db_name'         => "Syslog",
    'default_results' => 200, // The maximum number of rows to return.
    'logo'            => "http://www.agix.com.au/wp-content/uploads/2014/12/agix_black_1.png", // Ideally less than 300px high.
    'footer_name'     => false,
    'footer_link'     => false,
];

